
.paper {
  color: rgb(221, 217, 199) !important;
  padding: 0;
  width: 700px;
  margin: 0px auto;
  background-color: rgb(58, 58, 58) !important;

  padding-left: 15px;
  padding-top: 10px;
  min-height: 450px;
  margin-top: 80px;

  position: relative;
}


.saveButton {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
}