.ul {
  padding: 0;
  width: 700px;
  margin: 0px auto;
  padding-bottom: 100px;

  .li {
    color: rgb(189, 187, 172);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(56, 56, 56);

    img {
      margin-right: 5px;
    }
    &:hover {
      background-color: rgb(68, 68, 68);
    }
  }

  .li + .li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
