@import "../../variables.scss";

.appList {
  width: 100%;
  max-width: 700px;
}

.appListFolder {
  width: 100%;
  max-width: 700px;
  background-color: $background;
  color: $color;
  width: 700px;
  height: 50px;
  margin-top: 10px;
  border-radius: $border_radius;
}

.listItemsFolder {
  .appListItem {
    background-color: $background;
    width: 680px;
    margin-left: 20px;
  }
}

.appListItem {
  color: $color;
  width: 700px;
  margin-top: 10px;
  background-color: $background;

  height: 50px;
  border-radius: $border_radius;

}
