body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* SpeedDial style */

.MuiSpeedDial-fab {
  background-color: rgba(155, 64, 64, 0) !important;
  color: rgb(221, 217, 199) !important;
}

.MuiSpeedDialAction-fab {
  background-color: rgba(155, 64, 64, 0) !important;
  color: rgb(221, 217, 199) !important;
  box-shadow: none !important;
}

.MuiSpeedDialAction-fab button {
  box-shadow: none !important;
  background-color: rgba(58, 58, 58, 0) !important;

}

#root
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.Song_paper__GokrG.css-3su884-MuiPaper-root
  > div.Toolbar_toolbar__2WnPZ.MuiBox-root.css-0
  > div
  > div
  > button {
  box-shadow: none !important;
  background-color: rgba(58, 58, 58, 0) !important;

}

.MuiSpeedDial-fab {
  box-shadow: none !important;
  background-color: rgba(58, 58, 58, 0) !important;



}

.MuiMenu-paper {
  background-color: rgb(58, 58, 58) !important;
  color:rgb(221, 217, 199);

}

.MuiMenu-list {
  color:rgb(221, 217, 199);

}