@import "./variables.scss";

body {
  margin: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(161, 161, 161) rgb(94, 92, 88);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(94, 92, 88);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(161, 161, 161);
  border-radius: 10px;
  border: 3px solid rgb(94, 92, 88);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app_router {
  width: 700px !important;
  margin-top: 80px;
}

//style for drop-duwn-menu

// .MuiMenu-paper {
//   background-color: $background;
//   border-radius: $border_radius;
//   color: $color;
// }
