@import '../../variables.scss';



.paper {
  position: relative;
  color: $color;
  background-color: $background;
  min-height: 450px;
  border-radius: $border_radius;
}

.spinner {
  display: flex;
  justify-self: center;
}


