.header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
}

.appBar {
  background-color: rgb(58, 58, 58) !important;
}

.children {
  position: absolute;
  left: 183px;
  width: 1000px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
