$text-color: rgb(221, 217, 199) !important;

.inp {
  overflow: hidden;

  textarea,
  input {
    border: none;
    margin-bottom: 10px;
    overflow: hidden;
    outline: none;
    border-radius: 0px;
    padding: 7px;
    color: $text-color;
    background-color: rgba(126, 35, 35, 0);
    font-size: 16px;
    

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-color: rgba(54, 54, 54, 0);
      transition: background-color 5000s ease-in-out 0s;
      color: $text-color;
    }
  }

  input {
    width: 70%;

  }

  textarea {
    width: 97%;

    resize: none;
    border: 0px;
    outline: none;
    min-height: 400px;
    border-radius: 0px;
    margin-bottom: 20px;
  }
}

