$primary: #dad0a7;
$dark: #000;
$gray: #222;

body {
  height: 100vh;
  display: grid;
  font-family: Roboto;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;


.label {
  position: absolute;
  top: -5px;
  left: 12px;
  font-size: 16px;
  color: rgba($dark, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}

.focusBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //   background: rgba($dark, 0.05);
  background-color: rgb(54, 54, 54);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 7px 12px;
  height: 57px;
  font-size: 16px;
  font-weight: 400;
  //   background: rgba($dark, 0.02);
  background-color: #ffffff00;
  

  box-shadow: inset 0 -1px 0 rgba($dark, 0.3);
  color: $dark;
  transition: all 0.15s ease;

  //міняєм фон інпута, при autofill
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background-color: rgb(54, 54, 54);
    transition: background-color 5000s ease-in-out 0s;
  }

  &:hover {
    box-shadow: inset 0 -1px 0 rgba($dark, 0.5);
  }

  &:not(:placeholder-shown) + .label {
    color: rgba($dark, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  &:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 $primary;
    + .label {
      color: $primary;
      transform: translate3d(0, -12px, 0) scale(0.75);
    }
    + .focusBg {
      transform: scaleX(1);
      transition: all 0.1s ease;
    }
  }
}


textarea {
  color: rgb(8, 8, 8);
  font-size: 16px;
  border: 0px;
  outline: none;
  height: 100px;
  background-color: rgba(124, 124, 124, 0);
  border-radius: 0px;
  color: rgba(216, 214, 204, 0.877);
  width: 740px;
  height: 90%;
  margin-bottom: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}





}
.error {
  .label {
    color: rgba(255, 41, 41, 0.767) !important;
    font-weight: 600;
  }

  input {
    outline: none;
    box-shadow: inset 0 -2px 0 rgba(255, 41, 41, 0.767);
  }
}
