.arrowBack {
  position: absolute !important;
  left: 8px;
  top: 8px;
}

.dialogTitle {
  margin-left: 30px !important;
}

.avatar {
  width: 200px !important;
  height: 200px !important;
}

.inputFile {
  display: none !important;
}
