.headerForm {
  margin-left: 500px;
}

.songsPage {
  // background-color: aqua;
}

.dropdown {
  margin-right: 10px;

  button {
    background-color: rgb(58, 58, 58);
    border: none;
    &:hover {
      border: none;
      background-color: rgb(58, 58, 58);
    }
    &:active {
      border: none !important;
      background-color: rgb(58, 58, 58) !important;
      outline: none !important;
    }
  }
}
