
.form_item{
    margin: 0px 0px 20px 0px ;
}
.form_label{
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 0px 0px 10px 0px ;
    margin-top: 10px;

}


.form_error{
    font-size: 18px;
    display: block;
    margin: 0px 0px 10px 0px ;
    color: red;
    text-shadow:  0 0 5px red;
}



.form_input{
    height: 50px;
    padding: 0px 20px ;
    border-radius: 5px;
    width: 750px;
    font-size: 18px;
}

.form_input:focus{
    box-shadow: 0 0 15px #7a956b;
}



.textArea {
    color: rgb(8, 8, 8);
    font-size: 18px;
    border: 2px solid rgb(53, 53, 53);
    outline: none;
    height: 100px;
    background-color: rgb(124, 124, 124);
    border-radius: 10px;
    padding: 10px;
    width: 750px;
    height: 1000px;
    margin-bottom: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }