.homePage {
    display: grid;
    grid-template-columns: 50% 50%  ;
    grid-template-rows: 280px 280px;

    a {
        background-color: rgb(58, 58, 58);
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color:black;
        font-size:18px;
        
    }
}

