@import "../../variables.scss";

.sidebar {
  position: fixed;
  height: 98vw;
  width: 220px;
  top: 60px;
}

.listItem {
  height: 36px;
  width: 230px !important;
  margin-left: 5px;
  padding-left: 8px;
  margin-top: 10px;
  border-radius: $border_radius;
  padding: 0px;
  cursor: pointer;

  &:hover {
    background-color: $background;
  }
}

.activeItem {
  background-color: $background;
}

.itemText {
  font-size: 15px;
  margin: 0px;
  font-weight: 600;
  color: $color;
}
