@charset "UTF-8";

.header {
  background-color: rgb(58, 58, 58);
  margin: 0px 5px 5px 5px;
  height: 56px;
}

.cardAuth {
  border-radius: 0%;
  background-color: rgb(58, 58, 58);
  border: none;
}

/**
 * Формируем стиль заголовка (логотип) панели 
*/


